<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="table-dark" style="display: flex;justify-content: flex-start;align-items: flex-start;font-family: cursive;flex-wrap: wrap;">
  <%- include('./navbar') %>
  <% if(Articles.length===0){%>
        <div style="font-family: cursive; text-align: center;" class=" mt-4 alert alert-danger offset-4 col-4" role="alert">
           Article is not
           </div>
           <%}%>
    <% for(let i=0;i<Articles.length;i++){%>
      
        <div class="card m-4 alert-secondary" style="font-family: cursive;width: 30rem; ">
            <img src="<%=Articles[i]['image']%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><%=Articles[i]['name']%></h3>
              <h2 class="card-title"><%=Articles[i]['Title']%></h2>
              <p class="card-text"><%=Articles[i]['Description']%></p>
              <p class="card-text"> <%-Articles[i]['Text']%></p>
              <a href="../article/showArticle/<%=Articles[i]._id%>" class="btn btn-primary">Go somewhere</a>
              <% if(Articles[i].active===false){%>
                <a class="btn btn-success" href='../article/activeArticle/<%=Articles[i]._id%>'>ACTIVE</a>
              <%}%>
              <a class="btn btn-danger" href='../article/deleteArticle/<%=Articles[i]._id%>'>DELETE</a>
            </div>
          </div>
        <%}%>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>